@font-face {
  font-family: "Young Serif";
  src: url(https://fonts.google.com/specimen/Young+Serif) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url(https://fonts.google.com/specimen/Outfit) format("truetype");
  font-weight: 400, 600, 700;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: hsl(30, 54%, 90%);
}

.card_wrapper {
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}

.First-Section {
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
}

.body {
  background-color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-family: "Outfit", Serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-size: 40px;
  font-family: "Young Serif", Serif;
}

h2 {
  color: hsl(332, 51%, 32%);
  font-family: "Young Serif", Serif;
}

h3 {
  color: hsl(14, 45%, 36%);
  font-size: 30px;
  font-family: "Young Serif", Serif;
}

h4 {
  color: hsl(14, 45%, 36%);
  font-size: 30px;
  font-family: "Young Serif", Serif;
}

h5 {
  color: hsl(14, 45%, 36%);
  font-size: 30px;
  font-family: "Young Serif", Serif;
}

style {
  color: hsl(332, 51%, 32%);
}

ol {
  counter-reset: item;
}
ol li {
  display: block;
}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
  color: hsl(14, 45%, 36%);
  margin-right: 10px;
  line-height: 30px;
  font-family: "Outfit", serif;
}

ul li {
  line-height: 25px;
}

@media (min-width: 375px) {
  .body {
    max-width: 1440px;
    width: 100%;
    font-size: 18px;
    padding: auto;
  }
}
